<section class="checkout-step address-step">
  <span class="step-number">2</span>
  <h2 class="h2">
    Address Details <span class="light-text">Add an address to continue</span>
  </h2>

  <aside class="checkout-step-inner">
    <div class="row">
      <form id="address-details">
        
        <aside class="billing-address clearfix">
          <h3 class="col-md-12 decorated-heading">
            <span>Shipping Address</span>            
          </h3>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" name="" class="form-control" placeholder="First Name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" name="" class="form-control" placeholder="Last Name">
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" name="" class="form-control" placeholder="Street Address 1">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" name="" class="form-control" placeholder="Street Address 2">
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" name="" class="form-control" placeholder="Country">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" name="" class="form-control" placeholder="State">
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" name="" class="form-control" placeholder="Postal Code">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" name="" class="form-control" placeholder="Phone Number">
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="Email" name="" class="form-control" placeholder="Email">
                </div>
              </div>
            </div>
          </div>
        </aside>

        <aside class="shipping-address clearfix m-t-20 hide">
          <h3 class="col-md-12 decorated-heading">
            <span>Billing Address</span>
          </h3>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" name="" class="form-control" placeholder="First Name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" name="" class="form-control" placeholder="Last Name">
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" name="" class="form-control" placeholder="Street Address 1">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" name="" class="form-control" placeholder="Street Address 2">
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" name="" class="form-control" placeholder="Country">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" name="" class="form-control" placeholder="State">
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" name="" class="form-control" placeholder="Postal Code">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" name="" class="form-control" placeholder="Phone Number">
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="Email" name="" class="form-control" placeholder="Email">
                </div>
              </div>
            </div>
          </div>
        </aside>

        <div class="form-group margin-0 col-md-6">
          <button type="submit" class="btn-action btn-block">Save and Continue</button>
        </div>

      </form>
    </div>
  </aside>
</section>

<section class="checkout-step address-step complete hide">
  <span class="step-number"><i class="material-icons vertical-middle">done</i></span>
  <h2 class="h2">
    Address Details <span class="light-text">Confirm your order items and proceed to pay quickly!</span>
  </h2>
  <a href="javascript:void(0);" class="btn-change btn-action btn-dark">Change Address</a>
</section>
