<section class="checkout-step payment-step">
  <span class="step-number">4</span>
  <h2 class="h2">
    Payment Method
    <span class="light-text">Please select your preferred mode of payment</span>
  </h2>
</section>