<section class="checkout-step summary-step">
  <span class="step-number">3</span>
  <h2 class="h2">
    Order Summary
    <span class="light-text">Please confirm your order details and proceed to payment</span>
  </h2>

  <aside class="checkout-step-inner">
    <div class="row">
      <div class="col-md-7">
        <div class="order-summary-table table-header clearfix">
          <div class="col-md-6 p-l-0">
            Item
          </div>
          <div class="col-md-3 text-center">
            Price
          </div>
          <div class="col-md-3 text-right p-r-0">
            Sub Total
          </div>
        </div>
        <div class="order-summary-table table-body">
          <div class="inner-row clearfix">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-3 p-l-0">
                  <img src="../images/dining_03.jpg" alt=" " class="img-responsive">    
                </div>
                <div class="col-md-9 p-l-0">
                  <h3 class="h3">
                    <a href="javascript:void(0);">Elephant In The Jungle Tumbler</a>
                  </h3>
                </div>
              </div>
            </div>
            <div class="col-md-3 text-center">
              $21.21
            </div>
            <div class="col-md-3 text-right p-r-0">
              $21.21
              <a href="javascript:void(0);"><i class="material-icons vertical-middle">close</i></a>
            </div>
          </div>
        </div>
        <div class="order-summary-table table-body">
          <div class="inner-row clearfix">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-3 p-l-0">
                  <img src="../images/dining_02.jpg" alt=" " class="img-responsive">    
                </div>
                <div class="col-md-9 p-l-0">
                  <h3 class="h3">
                    <a href="javascript:void(0);">Elephant In The Jungle Tumbler</a>
                  </h3>
                </div>
              </div>
            </div>
            <div class="col-md-3 text-center">
              $21.21
            </div>
            <div class="col-md-3 text-right p-r-0">
              $21.21
              <a href="javascript:void(0);"><i class="material-icons vertical-middle">close</i></a>
            </div>
          </div>
        </div>
        <div class="order-summary-table table-body">
          <div class="inner-row clearfix">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-3 p-l-0">
                  <img src="../images/dining_01.jpg" alt=" " class="img-responsive">    
                </div>
                <div class="col-md-9 p-l-0">
                  <h3 class="h3">
                    <a href="javascript:void(0);">Elephant In The Jungle Tumbler</a>
                  </h3>
                </div>
              </div>
            </div>
            <div class="col-md-3 text-center">
              $21.21
            </div>
            <div class="col-md-3 text-right p-r-0">
              $21.21
              <a href="javascript:void(0);"><i class="material-icons vertical-middle">close</i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-md-offset-1">
        <div class="order-total-details">
          <div class="order-total-row clearfix">
            <div class="col-xs-8">
              Total Price
            </div>
            <div class="col-xs-4 text-right">
              $63.63
            </div>
          </div>
          <div class="order-total-row clearfix">
            <div class="col-xs-8">
              Shipping
            </div>
            <div class="col-xs-4 text-right">
              $0
            </div>
          </div>
          <div class="order-total-row clearfix">
            <div class="col-xs-8">
              Tax
            </div>
            <div class="col-xs-4 text-right">
              $0
            </div>
          </div>
          <div class="order-total-row clearfix">
            <div class="col-xs-8">
              Discount
            </div>
            <div class="col-xs-4 text-right">
              $0
            </div>
          </div>
          <div class="order-total-row clearfix final">
            <div class="col-xs-8">
              Amount Payable
            </div>
            <div class="col-xs-4 text-right">
              $63.63
            </div>
          </div>
        </div>
        <div class="apply-coupon m-t-20">
          <a href="javascript:void(0);" class="color-dark show-code">Got Coupon Code?</a>
          <form class="clearfix coupon-form m-t-10">
            <div class="col-md-8 col-5px p-l-0">
              <input type="text" name="" class="form-control" placeholder="Enter Code">
            </div>
            <div class="col-md-4 col-5px p-r-0">
              <button type="submit" class="btn-action btn-block">
                Apply
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-4 col-md-offset-4 m-t-50">
        <a href="javascript:void(0);" class="btn-action btn-block">Confirm &amp; Pay</a>
      </div>
    </div>
  </aside>
</section>

<section class="checkout-step summary-step complete hide">
  <span class="step-number"><i class="material-icons vertical-middle">done</i></span>
  <h2 class="h2">
    Order Summary
    <span class="light-text">
      Your order total is <span class="color-dark">$63.63</span>
    </span>
  </h2>
  <a href="javascript:void(0);" class="btn-change btn-action btn-dark">Edit Order</a>
</section>