{{> header}}
{{> flash}}
{{> menu_container}}
{{> cart}}
{{> login_form}}
{{> signup_form}}
{{> forgot_password}}
{{> search}}

<section class="checkout-steps">
  <div class="container">
    {{> login_step}}
    {{> address_step}}
    {{> summary_step}}
    {{> payment_step}}
  </div>
</section>

{{> newsletter}}
{{> scroll_top}}
{{> footer}}