.primary-navigation {
  .nav-item {
    display: inline-block;
    height: 60px;
    line-height: 65px;
    color: $grey;
    + .nav-item {
      @include genericSidesStyles('left', 35px, 'margin');
    }
    a {
      @include genericSidesStyles('right', 35px, 'padding');
      color: $primary-white;
    }
  }

  .nav-item-anchor {
    @include genericStyles('font-size', 18px);
    letter-spacing: .5px;
  }
}