//Login Modal
#LoginModal, 
#SignupModal {
  .modal-body {
    padding: 20px 50px;
  }
  .field {
    margin: 15px 0;
    label {
      display: block;
      width: 100%;
    }
  }
  .or {
    border-bottom: 1px solid #ccc;
    text-align: center;
    color: black;
    width: 100%;
    margin: 20px auto 40px;
    span {
      background: white;
      position: relative;
      display: inline-block;
      padding: 0 10px;
      top: 11px;
    }
  }
  .btn {
    background: $site-pink;
    color: $primary-white;
    font-weight: bold;
    margin-right: 20px;
  }
}