.logo {
  color: $primary-hover;
  display: inline-block;
  font-family: 'Kaushan Script', cursive;
  font-size: 30px;
  min-width: 150px;
  margin-top: 20px;
}

.header-top {
  @include genericSidesStyles('bottom', 0px solid $primary-border, 'border');
  padding: 15px 0;
  .text-right {
    a {
      float: right;
      font-size: 16px;
      margin: 0 15px;
      &.cart-icon,
      &.login-btn,
      &.signup-btn {
        margin: 0 0 0 15px;
        padding: 0;
        line-height: inherit;
      }
      &.signup-btn {
        margin: 0 15px 0 0;
      }
      .icon-shopping-bag {
        font-size: 20px;
      }
      .icon-drop-down-arrow {
        font-size: 12px;
      }
    }
    .bar {
      float: right;
      line-height: 25px;
      margin: 0 2px;
    }
  }
  #search-input {
    @include genericSidesStyles('bottom', 1px solid $primary-border, 'border');
    border-radius: 0;
  }
  .dropdown-menu {
    right: 0;
    left: auto;
    width: 250px;
    padding: 0;
    margin-top: -2px;
    max-height: 400px;
    overflow: auto;
    > li {
      > a {
        float: none;
        padding: 10px 15px;
        margin: 0;
      }
    }
  }
}

.menu-toggle-btn {
  @include genericSidesStyles('top', 13px, 'margin');
  color: $primary-black;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
}

.cart-icon {
  @include genericSidesStyles('top', 12px, 'margin');
  display: inline-block;
}
.secondary-header {
  background: rgba($primary-black, .5);
  font-size: 18px;
  line-height: 28px;
  color: $primary-white;
  position: relative;
  z-index: 1;
}

.main-search-btn,
.login-btn {
  display: inline-block;
  .material-icons {
    font-size: 20px;
  }
}

.login-btn {
  .material-icons {
    margin-right: 3px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  footer {
    &.primary-footer,
    &.secondary-footer {
      .text-right,
      .phone-number {
        text-align: left;
      }
      .social-media {
        a {
          margin-left: 10px;
        }
      }
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
  footer {
    &.primary-footer {
      .social-media {
        a {
          margin-left: 17px;
        }
      }
    }
    &.secondary-footer {
      .phone-number {
        font-size: 26px;
        .icons {
          font-size: 40px;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  #wrapper {
    .main-banner {
      display: none;
    }
    .logo {
      min-width: 0;
      img {
        max-width: 100%;
      }
    }
    .header-top {
      .col-xs-8 {
        .row {
          margin: 0;
          a {
            margin: 0 0 0 15px;
          }
        }
        .col-md-12 {
          padding: 0;
        }
      }
      .col-xs-4 {
        padding: 0;
      }
      .col-xs-8 {
        padding-right: 0;
      }
      .search-bar {
        width: 100%;
      }
    }
    .primary-navigation {
      background: $primary-black;
      padding-top: 3px;
      .nav-item {
        height: 25px;
        line-height: 25px;
        margin-left: 10px;
        font-size: 14px;
        a {
          padding-right: 10px;
          font-size: 14px;
        }
      }
    }
  }
}