.menu-container,
.cart-container {
  @include animate(.75s cubic-bezier(0.5,1,0.05,1.0));
  @include box-shadow(0,0,5px,0,$primary-border);
  background: #ffffff;
  height: 100%;
  left: -300px;
  opacity: 0;
  overflow-y: auto;
  padding: 25px;
  position: fixed;
  top: 0;
  width: 300px;
  z-index: 3;

  .h2 {
    display: inline-block;
    font-size: 20px;
    margin: 0;
    text-transform: uppercase;
  }

  .close-menu,
  .close-cart {
    position: absolute;
    right: 25px;
    top: 25px;
    .material-icons {
      font-size: 25px;
    }
  }

  .menu-list-item {
    list-style: none;
    padding: 5px 0;
  }

  .menu-item {
    @include animate(.35s);
    font-family: 'Montserrat-Light';
    letter-spacing: .5px;
    text-transform: uppercase;
    &.special {
      color: $primary-hover;
    }
    &:hover {
      padding-left: 5px;
    }
  }

  .menu-contact {
    .h3 {
      font-size: 14px;
      margin: 30px 0 0 0;
      padding: 0 0 10px 0;
      border-bottom: 1px solid $primary-border;
    }

    .bold {
      font-size: 12px;
      padding-top: 10px;
      margin-bottom: 5px;
    }

    .contact-email {
      text-transform: none;
    }

    .font-light {
      font-size: 12px;
      font-style: italic;
    }
  }

  &.expand {
    left: 0;
    opacity: 1;
  }
}

.cart-container {
  right: -300px;
  left: auto;

  &.expand {
    left: auto;
    opacity: 1;
    right: 0;
  }
}