.search-bar {
  max-width: 270px;
  width: 50%;
  position: relative;
  #search-input {
    height: 46px;
    padding-left: 40px;
    line-height: 46px;
    font-size: 16px;
  }
  .icon-search {
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 25px;
    opacity: .5;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
  }
}