<aside class="cart-container">
  <div class="cart-head">
    <h2 class="h2 font-light">My Shopping Bag <small>(5 Item)</small></h2>
    <a href="javascript:void(0);" class="close-cart">
      <i class="material-icons">close</i>
    </a>
  </div>
  <section>
    <div class="row items-list">
      <div class="item">
        <div class="image">
          <img src="../images/handbag.jpg" width = "50px"/>
        </div>
        <div class="description">
          <h6>The House of Tara Unisex Multicoloured Printed Laptop Bag</h6>
          <p><span class="label">Price:</span> $14.<sup>15</sup></p>
          <p><span class="label">Size:</span> One Size</p>
          <p><span class="label">Qty:</span> 1</p>
          <p><span class="label">Sold by:</span> Funfash</p>
        </div>
      </div>
      <div class="item">
        <div class="image">
          <img src="../images/handbag.jpg" width = "50px"/>
        </div>
        <div class="description">
          <h6>The House of Tara Unisex Multicoloured Printed Laptop Bag</h6>
          <p><span class="label">Price:</span> $14.<sup>15</sup></p>
          <p><span class="label">Size</span> One Size</p>
          <p><span class="label">Qty</span> 1</p>
          <p><span class="label">Sold by</span> Funfash</p>
        </div>
      </div>
      <div class="item">
        <div class="image">
          <img src="../images/handbag.jpg" width = "50px"/>
        </div>
        <div class="description">
          <h6>The House of Tara Unisex Multicoloured Printed Laptop Bag</h6>
          <p><span class="label">Price:</span> $14.<sup>15</sup></p>
          <p><span class="label">Size</span> One Size</p>
          <p><span class="label">Qty</span> 1</p>
          <p><span class="label">Sold by</span> Funfash</p>
        </div>
      </div>
      <div class="item">
        <div class="image">
          <img src="../images/handbag.jpg" width = "50px"/>
        </div>
        <div class="description">
          <h6>The House of Tara Unisex Multicoloured Printed Laptop Bag</h6>
          <p><span class="label">Price:</span> $14.<sup>15</sup></p>
          <p><span class="label">Size</span> One Size</p>
          <p><span class="label">Qty</span> 1</p>
          <p><span class="label">Sold by</span> Funfash</p>
        </div>
      </div>
      <div class="item">
        <div class="image">
          <img src="../images/handbag.jpg" width = "50px"/>
        </div>
        <div class="description">
          <h6>The House of Tara Unisex Multicoloured Printed Laptop Bag</h6>
          <p><span class="label">Price:</span> $14.<sup>15</sup></p>
          <p><span class="label">Size</span> One Size</p>
          <p><span class="label">Qty</span> 1</p>
          <p><span class="label">Sold by</span> Funfash</p>
        </div>
      </div>
      <div class="item">
        <div class="image">
          <img src="../images/handbag.jpg" width = "50px"/>
        </div>
        <div class="description">
          <h6>The House of Tara Unisex Multicoloured Printed Laptop Bag</h6>
          <p><span class="label">Price:</span> $14.<sup>15</sup></p>
          <p><span class="label">Size</span> One Size</p>
          <p><span class="label">Qty</span> 1</p>
          <p><span class="label">Sold by</span> Funfash</p>
        </div>
      </div>
    </div>
    <div class="cart-footer">
      <input type="button" value="checkout" class="btn btn-checkout"/>
    </div>
  </section>
</aside>