<ul class="dropdown-menu">
  <li value="AF"><a href="javascript:void(0);">Afghanistan</a></li>
  <li value="AX"><a href="javascript:void(0);">Aland Islands</a></li>
  <li value="AL"><a href="javascript:void(0);">Albania</a></li>
  <li value="DZ"><a href="javascript:void(0);">Algeria</a></li>
  <li value="AS"><a href="javascript:void(0);">American Samoa</a></li>
  <li value="AD"><a href="javascript:void(0);">Andorra</a></li>
  <li value="AO"><a href="javascript:void(0);">Angola</a></li>
  <li value="AI"><a href="javascript:void(0);">Anguilla</a></li>
  <li value="AQ"><a href="javascript:void(0);">Antarctica</a></li>
  <li value="AG"><a href="javascript:void(0);">Antigua and Barbuda</a></li>
  <li value="AR"><a href="javascript:void(0);">Argentina</a></li>
  <li value="AM"><a href="javascript:void(0);">Armenia</a></li>
  <li value="AW"><a href="javascript:void(0);">Aruba</a></li>
  <li value="AU"><a href="javascript:void(0);">Australia</a></li>
  <li value="AT"><a href="javascript:void(0);">Austria</a></li>
  <li value="AZ"><a href="javascript:void(0);">Azerbaijan</a></li>
  <li value="BS"><a href="javascript:void(0);">Bahamas</a></li>
  <li value="BH"><a href="javascript:void(0);">Bahrain</a></li>
  <li value="BD"><a href="javascript:void(0);">Bangladesh</a></li>
  <li value="BB"><a href="javascript:void(0);">Barbados</a></li>
  <li value="BY"><a href="javascript:void(0);">Belarus</a></li>
  <li value="BE"><a href="javascript:void(0);">Belgium</a></li>
  <li value="BZ"><a href="javascript:void(0);">Belize</a></li>
  <li value="BJ"><a href="javascript:void(0);">Benin</a></li>
  <li value="BM"><a href="javascript:void(0);">Bermuda</a></li>
  <li value="BT"><a href="javascript:void(0);">Bhutan</a></li>
  <li value="BO"><a href="javascript:void(0);">Bolivia, Plurinational State of</a></li>
  <li value="BQ"><a href="javascript:void(0);">Bonaire, Sint Eustatius and Saba</a></li>
  <li value="BA"><a href="javascript:void(0);">Bosnia and Herzegovina</a></li>
  <li value="BW"><a href="javascript:void(0);">Botswana</a></li>
  <li value="BV"><a href="javascript:void(0);">Bouvet Island</a></li>
  <li value="BR"><a href="javascript:void(0);">Brazil</a></li>
  <li value="IO"><a href="javascript:void(0);">British Indian Ocean Territory</a></li>
  <li value="BN"><a href="javascript:void(0);">Brunei Darussalam</a></li>
  <li value="BG"><a href="javascript:void(0);">Bulgaria</a></li>
  <li value="BF"><a href="javascript:void(0);">Burkina Faso</a></li>
  <li value="BI"><a href="javascript:void(0);">Burundi</a></li>
  <li value="KH"><a href="javascript:void(0);">Cambodia</a></li>
  <li value="CM"><a href="javascript:void(0);">Cameroon</a></li>
  <li value="CA"><a href="javascript:void(0);">Canada</a></li>
  <li value="CV"><a href="javascript:void(0);">Cape Verde</a></li>
  <li value="KY"><a href="javascript:void(0);">Cayman Islands</a></li>
  <li value="CF"><a href="javascript:void(0);">Central African Republic</a></li>
  <li value="TD"><a href="javascript:void(0);">Chad</a></li>
  <li value="CL"><a href="javascript:void(0);">Chile</a></li>
  <li value="CN"><a href="javascript:void(0);">China</a></li>
  <li value="CX"><a href="javascript:void(0);">Christmas Island</a></li>
  <li value="CC"><a href="javascript:void(0);">Cocos (Keeling) Islands</a></li>
  <li value="CO"><a href="javascript:void(0);">Colombia</a></li>
  <li value="KM"><a href="javascript:void(0);">Comoros</a></li>
  <li value="CG"><a href="javascript:void(0);">Congo</a></li>
  <li value="CD"><a href="javascript:void(0);">Congo, the Democratic Republic of the</a></li>
  <li value="CK"><a href="javascript:void(0);">Cook Islands</a></li>
  <li value="CR"><a href="javascript:void(0);">Costa Rica</a></li>
  <li value="CI"><a href="javascript:void(0);">Côte d'Ivoire</a></li>
  <li value="HR"><a href="javascript:void(0);">Croatia</a></li>
  <li value="CU"><a href="javascript:void(0);">Cuba</a></li>
  <li value="CW"><a href="javascript:void(0);">Curaçao</a></li>
  <li value="CY"><a href="javascript:void(0);">Cyprus</a></li>
  <li value="CZ"><a href="javascript:void(0);">Czech Republic</a></li>
  <li value="DK"><a href="javascript:void(0);">Denmark</a></li>
  <li value="DJ"><a href="javascript:void(0);">Djibouti</a></li>
  <li value="DM"><a href="javascript:void(0);">Dominica</a></li>
  <li value="DO"><a href="javascript:void(0);">Dominican Republic</a></li>
  <li value="EC"><a href="javascript:void(0);">Ecuador</a></li>
  <li value="EG"><a href="javascript:void(0);">Egypt</a></li>
  <li value="SV"><a href="javascript:void(0);">El Salvador</a></li>
</ul>