<!-- Filter Brands -->
<section class="filter brand">
  <h2>Brand</h2>
  <ul>
    <li>
      <label class="checkbox"><input type="checkbox" name=""> Anulok <span>(303)</span></label>
    </li>
    <li>
      <label class="checkbox"><input type="checkbox" name=""> Libas  <span>(20)</span></label>
    </li>
    <li>
      <label class="checkbox"><input type="checkbox" name=""> Shree <span>(50)</span></label>
    </li>
    <li>
      <label class="checkbox"><input type="checkbox" name=""> W <span>(98)</span></label>
    </li>
    <li>
      <label class="checkbox"><input type="checkbox" name=""> Biba <span>(700)</span></label>
    </li>
    <li>
      <label class="checkbox"><input type="checkbox" name=""> Wv <span>(5)</span></label>
    </li>
  </ul>
</section>

<!-- Filter Price Range -->
<section class="filter price-range">
  <h2>Price Range</h2>
  <div id="slider-range"></div>
  <div class="price-values">
    <input type="text" id="amountMin" readonly />
    <input type="text" id="amountMax" readonly />
  </div>
</section>

<!-- Filter Colors -->
<section class="filter colors">
  <h2>Colors</h2>
  <ul>
    <li class="orange">
      orange
    </li>
    <li class="grey">
      grey
    </li>
    <li class="light-grey">
      light Grey
    </li>
    <li class="teal">
      teal
    </li>
    <li class="gold">
      gold
    </li>
    <li class="off-white">
      off-white
    </li>
    <li class="brown">
      brown
    </li>
    <li class="blue">
      blue
    </li>
    <li class="red">
      red
    </li>
    <li class="green  ">
      green
    </li>
    <li class="one">
      one
    </li>
    <li class="two">
      two
    </li>
    <li class="three">
      three
    </li>
    <li class="four">
      four
    </li>
    <li class="five">
      five
    </li>
    <li class="six">
      six
    </li>
    <li class="seven">
      seven
    </li>
    <li class="eight">
      eight
    </li>
    <li class="nine">
      nine
    </li>
    <li class="ten">
      ten
    </li>
  </ul>
</section>