<div class="col-md-4 col-5px">
  <div class="footer-logo">
    <a href="javascript:void(0);">Brand Logo</a>
  </div>
  <ul class="social">
    <li class="social-icon facebook">
      <a href="javascript:void(0);"></a>
    </li>
    <li class="social-icon twitter">
      <a href="javascript:void(0);"></a>
    </li>
    <li class="social-icon instagram">
      <a href="javascript:void(0);"></a>
    </li>
    <li class="social-icon youtube">
      <a href="javascript:void(0);"></a>
    </li>
  </ul>
  <div class="payment-options">
    <img src="../images/payment.jpg" alt=" ">
  </div>
</div>
