<footer class="primary-footer">
  <div class="row">
    <div class="col-md-3">
      <a href="/" class="logo">
        <img src="../images/logo.png" />
      </a>
    </div>
    <div class="col-md-6">
      <h2 class="uppercase">About the Shop</h2>
      <p>Sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
    </div>
    <div class="col-md-3 text-right">
      <h6 class="uppercase">Follow us on Social Media</h6>
      <section class="social-media">
        <a href="javascript:void(0)" class="facebook">
          <i class="icons icon-facebook-social"></i>
        </a>
        <a href="javascript:void(0)" class="twitter">
          <i class="icons icon-twitter"></i>
        </a>
        <a href="javascript:void(0)" class="rss">
          <i class="icons icon-rss"></i>
        </a>
        <a href="javascript:void(0)" class="youtube">
          <i class="icons icon-youtube"></i>
        </a>
        <a href="javascript:void(0)" class="google-plus">
          <i class="icons icon-google-plus"></i>
        </a>
      </section>
    </div>
  </div>
</footer>