<div class="modal fade" id="forgot-password-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Forgot your password?</h4>
      </div>
      <div class="modal-body">
        <aside class="login-modal">
          <form id="login">

            <div class="form-group">
              <div class="input-group">
                <span class="material-icons vertical-middle input-group-addon">mail_outline</span>
                <input type="email" class="form-control" id="user-login-name" placeholder="Email">
              </div>
            </div>

            <button type="submit" class="btn-action btn-block">
              <span class="material-icons vertical-middle">flash_on</span>
              Get Password Reset Link
            </button>
          </form>
        </aside>
      </div>
      <div class="modal-footer">
        <p class="text-center no-margin">
          <a href="javascript:void(0);" data-target="#login-modal" data-dismiss="modal" data-toggle="modal" class="color-yellow">Remembered it suddenly?</a>
        </p>
      </div>
    </div>
  </div>
</div>