<aside class="header-top">
  <div class="container-fluid padding-0">
    <div class="row">
      <!-- <div class="col-md-3">
        <a href="javascript:void(0);" class="menu-toggle-btn">
          Menu
        </a>
      </div> -->
      <div class="col-md-3">
        <a href="/" class="logo">
          <img src="../images/logo.png">
        </a>
      </div>
      <div class="col-md-9 text-right">
        <div class="row">
          <div class="col-md-12"> 
            <a href="javascript:void(0);" class="cart-icon">
              <i class="icon icon-shopping-bag"></i>
            </a>
            <a href="javascript:void(0);" class="login-btn">
              Login
            </a>
            <a href="javascript:void(0);">
              USD <i class="icon icon-drop-down-arrow"></i>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-right">
            {{> search}}
          </div>
         </div> 
      </div>
    </div>
  </div>
</aside>