<aside class="header-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <a href="javascript:void(0);" class="menu-toggle-btn">
          Menu
        </a>
      </div>
      <div class="col-md-6 text-center">
        <a href="/" class="logo" class="font-bold">
          Brand Logo
        </a>
      </div>
      <div class="col-md-3 text-right">
        <a href="javascript:void(0);" class="cart-icon">
          <i class="material-icons">shopping_cart</i>
        </a>
      </div>
    </div>
  </div>
</aside>