{{#isLoggedIn}}
  <div class="my-profile">
    <a href="javascript:void(0)" class="dropdown-toggle" type="button" data-toggle="dropdown">
      My Account
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="/my_orders">My orders</a>
      </li>
      <li>
        <a href="javascript:void(0);" id="logout">Logout</a>
      </li>
    </ul>
  </div>
{{else}}
  <a href="javascript:void(0);" data-toggle="modal" data-target="#SignupModal" class="signup-btn">
    Signup
  </a>
  <a href="#login-modal" data-toggle="modal" class="login-btn">
    Login
  </a>
{{/isLoggedIn}}
