<!-- Login Modal -->
<div class="modal fade" id="LoginModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <img src="../images/logo.png">
      </div>
      <div class="modal-body">
        <h4 >Log In To Your Account</h4>
        <form id="loginForm">
          <span class="input input_animate">
            <input class="input_field input_field_animation" type="text" id="loginEmail" name="loginEmail" />
            <label class="input_label input_label_animate" for="loginEmail">
              <span class="input_label_content">Username</span>
            </label>
          </span>
          <span class="input input_animate">
            <input class="input_field input_field_animation" type="Password" id="loginPassword" name="loginPassword" />
            <label class="input_label input_label_animate" for="loginPassword">
              <span class="input_label_content">Password</span>
            </label>
          </span>
          <div class='field'>
            <label class="control control_checkbox">
              <input type="checkbox" name="" id="rem_me"/>
              Remember me
              <div class="control_indicator"></div>
            </label>
          </div>

          <div class="button text-center">
            <input type="submit" name="" value="Login" id="loginSubmit" class="btn" />
            <a href="javascript:void(0)" id="forgot_pwd_link">Forgot Password?</a>
          </div>
          <div class="field text-center or"><span>OR</span></div>
          <div class="field last facebook_login text-center">
            <a href="/users/auth/facebook"><img alt="Fb login" src="https://d3lgg3ugvyyglg.cloudfront.net/assets/guest/fb_login-fb23cfcf33d0b7a39ddb8223c275797c.png"></a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>