<aside class="main-banner text-center">
  <span class="banner-overlay"></span>
  <div class="banner-content vertical-middle">
    <h1 class="banner-heading">Everything you need for your home</h1>
    <br>
    <a href="javascript:void(0);" class="btn btn-banner">Shop Now</a>
  </div>
</aside>