<aside class="main-banner text-center">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item item01 active">
        <div class="box-outer">
          <div class="box-inner">
            <div class="banner-text">
              <h3 class="uppercase">Introducing</h3>
              <div class="divider"><span>X</span></div>
              <h1>Fresh Collection 2016</h1>
              <p>the all new <span>FASHION</span> and in<br />all new <span>STYLE</span></p>
              <br>
              <a href="javascript:void(0);" class="btn btn-banner">Shop Now</a>
            </div>  
          </div>  
        </div>  
      </div>

      <div class="item item02">
        <div class="box-outer">
          <div class="box-inner">
            <div class="banner-text">
              <h3 class="uppercase">Watches</h3>
              <div class="divider"><span>X</span></div>
              <h1>Fresh Collection 2016</h1>
              <p>the all new <span>FASHION</span> and in<br />all new <span>STYLE</span></p>
              <br>
              <a href="javascript:void(0);" class="btn btn-banner">Shop Now</a>
            </div>  
          </div>  
        </div>  
      </div>
    
      <div class="item item03">
        <div class="box-outer">
          <div class="box-inner">
            <div class="banner-text">
              <h3 class="uppercase">Winter Collection</h3>
              <div class="divider"><span>X</span></div>
              <h1>Fresh Collection 2016</h1>
              <p>the all new <span>FASHION</span> and in<br />all new <span>STYLE</span></p>
              <br>
              <a href="javascript:void(0);" class="btn btn-banner">Shop Now</a>
            </div>  
          </div>  
        </div>  
      </div>  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <i class="icon icon-right-chevron left"></i>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <i class="icon icon-right-chevron"></i>
    </a>
  </div>
</aside>
<script type="text/javascript" href="../scripts/carousel.js"></script>