<aside class="main-banner text-center">
  <span class="banner-overlay"></span>
  <div class="banner-content vertical-middle">
    <h3>Introducing</h3>
    <div class="divider"><span>x</span></div>
    <h1>Fresh Collection 2016</h1>
    <p>the all new <span>FASHION</span> and in<br />all new <span>STYLE</span></p>
    <br>
    <a href="javascript:void(0);" class="btn btn-banner">Shop Now</a>
  </div>
</aside>