<aside class="menu-container">
  <h2 class="h2 font-light">Menu</h2>
  <a href="javascript:void(0);" class="close-menu">
    <i class="material-icons">close</i>
  </a>
  <nav class="menu-navigation">
    <ul class="padding-0 m-t-25">
      <li class="menu-list-item">
        <a href="javascript:void(0);" class="menu-item">Home</a>
      </li>
      <li class="menu-list-item">
        <a href="javascript:void(0);" class="menu-item">View All Categories</a>
      </li>
      <li class="menu-list-item">
        <a href="javascript:void(0);" class="menu-item special">Offer Zone</a>
      </li>
      <li class="menu-list-item">
        <a href="javascript:void(0);" class="menu-item special">Gift Cards</a>
      </li>
      <li class="menu-list-item m-t-20">
        <a href="javascript:void(0);" class="menu-item">Login / Sign up</a>
      </li>
      <li class="menu-list-item">
        <a href="javascript:void(0);" class="menu-item">Wishlist</a>
      </li>
      <li class="menu-list-item m-t-20">
        <a href="javascript:void(0);" class="menu-item">Contact Us</a>
      </li>
      <li class="menu-list-item">
        <a href="javascript:void(0);" class="menu-item">Help &amp; Faq</a>
      </li>
      <li class="menu-list-item">
        <a href="javascript:void(0);" class="menu-item">About Us</a>
      </li>
      <li class="menu-list-item">
        <a href="javascript:void(0);" class="menu-item">Blog</a>
      </li>
      <li class="menu-list-item">
        <a href="javascript:void(0);" class="menu-item">Terms of Service</a>
      </li>
      <li class="menu-list-item">
        <a href="javascript:void(0);" class="menu-item">Privacy Policy</a>
      </li>
    </ul>
    <aside class="menu-contact uppercase">
      <h3 class="h3">
        Need Any Help?
      </h3>
      <h4 class="bold">Contact Number</h4>
      <p class="font-light">1800-xxxx-xxxx</p>
      <h4 class="bold">Email</h4>
      <p class="contact-email font-light"><a href="javascript:void(0);">help@brand.com</a></p>
    </aside>
  </nav>
</aside>