 <!-- <nav class="nav">
  <ul class="primary-navigation text-center padding-0 margin-0">
    <li class="nav-item"><a href="/men" class="nav-item-anchor uppercase">Man</a>/</li>
    <li class="nav-item"><a href="/women" class="nav-item-anchor uppercase">Woman</a>/</li>
    <li class="nav-item"><a href="/kids" class="nav-item-anchor uppercase">Kids</a>/</li>
    <li class="nav-item"><a href="/fresh_arrival" class="nav-item-anchor uppercase"> fresh arrival</a>/</li>
    <li class="nav-item"><a href="/sales" class="nav-item-anchor uppercase">Sale</a></li>
  </ul>
</nav> -->

<nav class="nav cl-effect-1 text-center">
  <ul class="primary-navigation text-center padding-0 margin-0">
    {{#each categories}}
      {{#isParent parent_id}}
        <li class="nav-item">
          <a href={{#productCategoryUrl id}}{{body}}{{/productCategoryUrl}} class="nav-item-anchor uppercase">{{name}}</a>
        </li>/
      {{/isParent}}
    {{/each}}
  </ul>
</nav>