<section class="newsletter">
  <div class="container">
    <div class="row row-5px align-center">
      <div class="col-md-12 text-center">
        <h1 class="decorated-heading">
          <span>Subscribe to Our Newsletter</span>
        </h1>
        <p>New products, new ideas and a whole bunch of madness delivered to your inbox as it happens!</p>
      </div>
      <div class="col-md-10 col-md-offset-1">
        <form class="clearfix">
          <div class="form-group col-md-5 col-5px">
            <label class="full-width">
              <input type="text" name="" placeholder="Email" class="form-control">
            </label>
          </div>
          <div class="form-group col-md-5 col-5px">
            <label class="full-width">
              <input type="text" name="" placeholder="Name" class="form-control">
            </label>
          </div>
          <div class="form-group col-md-2 col-5px">
            <button type="submit" class="btn-action btn-dark btn-block">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
