<aside class="search-bar pull-right">
  <div class="search-container">
    <i class="icon icon-search"></i>
    <input type="text" id="search-input" class="form-control font-light search" placeholder="Search here...">
    <span class="input-border"></span>
    <div class="search-results"></div>
  </div>
</aside>
