<aside class="search-bar">
  <a href="javascript:void(0);" class="close-search">
    <i class="material-icons">close</i>
  </a>
  <div class="search-container">
    <input type="text" name="" id="search-input" class="form-control font-light" placeholder="Search here...">
    <span class="input-border"></span>
    <i class="material-icons search-icon">search</i>
  </div>
</aside>