<section class="category-banner">
  <img src="../images/category_banner.png" class="banner-image">
  <div class="sub-category-list">
    <div class="item">
      <a href="javascript:void(0)"><span data-hover="Kurties">Kurties</span></a>
    </div>
    <div class="item">
      <a href="javascript:void(0)"><span data-hover="Crop-tops">Crop-tops</span></a>
    </div>
    <div class="item">
      <a href="javascript:void(0)"><span data-hover="lahenga">lahenga</span></a>
    </div>
    <div class="item">
      <a href="javascript:void(0)"><span data-hover="designer sarees">designer sarees</span></a>
    </div>
    <div class="item">
      <a href="javascript:void(0)"><span data-hover="accessories">accessories</span></a>
    </div>
    <div class="item">
      <a href="javascript:void(0)"><span data-hover="accessories">accessories</span></a>
    </div>
  </ul>
</section>