<section class="category-banner">
  <img src="../images/category_banner.png" class="banner-image">
  <div class="sub-category-list">
    <div class="item">
      <a href="javascript:void(0)">Kurties</a>
    </div>
    <div class="divider"></div>
    <div class="item">
      <a href="javascript:void(0)">Crop-tops</a>
    </div>
    <div class="divider"></div>
    <div class="item">
      <a href="javascript:void(0)">lahenga</a>
    </div>
    <div class="divider"></div>
    <div class="item">
      <a href="javascript:void(0)">designew sarees</a>
    </div>
    <div class="divider"></div>
    <div class="item">
      <a href="javascript:void(0)">accessories</a>
    </div>
    <div class="divider"></div>
    <div class="item">
      <a href="javascript:void(0)">accessories</a>
    </div>
  </ul>
</section>