<div class="row m-t-20 orders-header row-5px">
  <div class="col-md-6 col-5px">
    <h4 class="h4">Item</h4>
  </div>
  <div class="col-md-2 col-5px text-center">
    <h4 class="h4">Price</h4>
  </div>
  <div class="col-md-2 col-5px text-center">
    <h4 class="h4">Quantity</h4>
  </div>
  <div class="col-md-2 col-5px text-center">
    <h4 class="h4">Total</h4>
  </div>
</div>
