<div class="row">
  <div class="order-summary-footer col-md-12">
    <div class="row row-5px">
      <div class="col-md-11 text-right col-5px">Subtotal:</div>
      <div class="col-md-1 text-right col-5px">${{item_total}}</div>
    </div>
    <hr>
    <div class="row row-5px">
      <div class="col-md-11 text-right col-5px">Shipping Total:</div>
      <div class="col-md-1 text-right col-5px">${{shipment_total}}</div>
    </div>
    <hr>
    <div class="row row-5px">
      <div class="col-md-11 text-right col-5px">Tax:</div>
      <div class="col-md-1 text-right col-5px">${{additional_tax_total}}</div>
    </div>
    <div class="row row-5px">
      <div class="total clearfix">
        <div class="col-md-11 text-right col-5px">Total:</div>
        <div class="col-md-1 text-right col-5px">${{total}}</div>
      </div>
    </div>
  </div>
</div>
