<div class="orders-container">
  <div class="row">
    <div class="col-md-4">Name <span class="pull-right">:</span></div>
    <div class="col-md-8 p-l-0">{{name}}</div>
  </div>
  <div class="row">
    <div class="col-md-4">Description <span class="pull-right">:</span></div>
    <div class="col-md-8 p-l-0">{{description}}</div>
  </div>
</div>
