{{> search}}
{{> header}}
{{> login_form}}
{{> signup_form}}
{{> menu_container}}
{{> cart}}

<section class="profile-page-wrapper">
  <div class="container">
    <h1 class="decorated-heading text-center">
      <span class="text-uppercase">My Profile</span>
    </h1>
  </div>
</section>

{{> scroll_top}}
{{> footer}}