<section class="ads-section">
  <div class="container container-5px">
    <h3 class="decorated-heading">
      Top discounts
    </h3>
    <div class="row">
      <div class="col-md-6">
        <img src="../images/ad01.jpg" />
      </div>
      <div class="col-md-6">
        <img src="../images/ad02.jpg" />
      </div>
    </div>    
  </div>
</section>  