<section class="category-section">
  <div class="container container-5px">
    <div class="row row-5px">
      <h3 class="decorated-heading">
        FEATURED PRODUCTS
      </h3>
      {{#each products}}
        <div class="col-md-3 text-center col-5px">
          <div class="product-container">
            <p class="image-container"><img src={{#productImageUrl image_ids ../images}}{{body}}{{/productImageUrl}} class="img-full"></p>
            <h3 class="product-name">
              <a href={{#productUrl id}}{{body}}{{/productUrl}}>{{name}}</a>
            </h3>
            <div class="product-container-inner">
              <div class="product-options text-center">
                <p>
                  <a href="javascript:void(0);">
                    <i class="icons icon-shopping-cart"></i>
                  </a>
                  <a href="javascript:void(0);">
                    <i class="icons icon-favorite"></i>
                  </a>
                </p>
                <p class="product-price">{{price}}</p>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>
<script type="text/javascript" href="../scripts/design.js"></script>