<section class="category-section">
  <div class="container container-5px">
    <div class="row">
      <h3 class="decorated-heading">
        Selected Categories
      </h3>
      {{#each categories}}
        {{#if parent_id}}
          <div class="col-md-4 category-item">
            <a href={{#productCategoryUrl id}}{{body}}{{/productCategoryUrl}} class="block">
              <img src="../images/category_{{id}}.jpg" class="img-full" />
              <h3 class="category-name">{{name}}</h3>
            </a>
          </div>
        {{/if}}
      {{/each}}
    </div>
  </div>
</section>