<section class="category-section">
  <div class="container container-5px">
    <h3 class="decorated-heading">
      <span>Explore Dining Products</span>
      <a href="javascript:void(0);" class="btn btn-view-all pull-right">View all products</a>
    </h3>
    <div class="row p-t-30 row-5px">
      <div class="col-md-3 text-center col-5px">
        <div class="product-container">
          <img src="images/dining_01.jpg" alt="">
          <h3 class="product-name">Golden Triangles Glass</h3>
          <div class="product-container-inner">
            <a href="javascript:void(0);" class="btn btn-cart">Add To Cart</a>
            <div class="product-options text-center">
              <a href="javascript:void(0);">
                <i class="material-icons">favorite</i>
              </a>
              <a href="javascript:void(0);">
                <i class="material-icons">remove_red_eye</i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-center col-5px">
        <div class="product-container">
          <img src="images/dining_02.jpg" alt="">
          <h3 class="product-name">Cool Capricorn Sipper Water Bottle</h3>
          <div class="product-container-inner">
            <a href="javascript:void(0);" class="btn btn-cart">Add To Cart</a>
            <div class="product-options text-center">
              <a href="javascript:void(0);">
                <i class="material-icons">favorite</i>
              </a>
              <a href="javascript:void(0);">
                <i class="material-icons">remove_red_eye</i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-center col-5px">
        <div class="product-container">
          <img src="images/dining_03.jpg" alt="">
          <h3 class="product-name">Floral Fantasy Tumbler</h3>
          <div class="product-container-inner">
            <a href="javascript:void(0);" class="btn btn-cart">Add To Cart</a>
            <div class="product-options text-center">
              <a href="javascript:void(0);">
                <i class="material-icons">favorite</i>
              </a>
              <a href="javascript:void(0);">
                <i class="material-icons">remove_red_eye</i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-center col-5px">
        <div class="product-container">
          <img src="images/dining_04.jpg" alt="">
          <h3 class="product-name">Happy Home Coasters</h3>
          <div class="product-container-inner">
            <a href="javascript:void(0);" class="btn btn-cart">Add To Cart</a>
            <div class="product-options text-center">
              <a href="javascript:void(0);">
                <i class="material-icons">favorite</i>
              </a>
              <a href="javascript:void(0);">
                <i class="material-icons">remove_red_eye</i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-center col-5px">
        <div class="product-container">
          <img src="images/dining_04.jpg" alt="">
          <h3 class="product-name">Happy Home Coasters</h3>
          <div class="product-container-inner">
            <a href="javascript:void(0);" class="btn btn-cart">Add To Cart</a>
            <div class="product-options text-center">
              <a href="javascript:void(0);">
                <i class="material-icons">favorite</i>
              </a>
              <a href="javascript:void(0);">
                <i class="material-icons">remove_red_eye</i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-center col-5px">
        <div class="product-container">
          <img src="images/dining_03.jpg" alt="">
          <h3 class="product-name">Floral Fantasy Tumbler</h3>
          <div class="product-container-inner">
            <a href="javascript:void(0);" class="btn btn-cart">Add To Cart</a>
            <div class="product-options text-center">
              <a href="javascript:void(0);">
                <i class="material-icons">favorite</i>
              </a>
              <a href="javascript:void(0);">
                <i class="material-icons">remove_red_eye</i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-center col-5px">
        <div class="product-container">
          <img src="images/dining_02.jpg" alt="">
          <h3 class="product-name">Cool Capricorn Sipper Water Bottle</h3>
          <div class="product-container-inner">
            <a href="javascript:void(0);" class="btn btn-cart">Add To Cart</a>
            <div class="product-options text-center">
              <a href="javascript:void(0);">
                <i class="material-icons">favorite</i>
              </a>
              <a href="javascript:void(0);">
                <i class="material-icons">remove_red_eye</i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-center col-5px">
        <div class="product-container">
          <img src="images/dining_01.jpg" alt="">
          <h3 class="product-name">Golden Triangles Glass</h3>
          <div class="product-container-inner">
            <a href="javascript:void(0);" class="btn btn-cart">Add To Cart</a>
            <div class="product-options text-center">
              <a href="javascript:void(0);">
                <i class="material-icons">favorite</i>
              </a>
              <a href="javascript:void(0);">
                <i class="material-icons">remove_red_eye</i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="category-section-all">
  <div class="container">
    <h3 class="decorated-heading text-center">
      <span>Shop By Category</span>
    </h3>

    <div class="row p-t-50">
      <div class="col-md-6">
        <img src="images/category_02.jpg" alt="" class="img-full">
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <img src="images/category_01.jpg" alt="" class="img-full">
          </div>
          <div class="col-md-6">
            <img src="images/category_03.jpg" alt="" class="img-full">
          </div>
        </div>
        <div class="row p-t-30">
          <div class="col-md-6">
            <img src="images/category_04.jpg" alt="" class="img-full">
          </div>
          <div class="col-md-6">
            <img src="images/category_05.jpg" alt="" class="img-full">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>