<section class="category-section">
  <div class="container">
    <div class="row">
      <h3 class="decorated-heading">
        My Look with latest fashion
      </h3>
      <div class="col-md-8 category-item">
        <img src="../images/watch.jpg" />
        <span class="category-name">Watches</span>
      </div>
      <div class="col-md-4 category-item">
        <img src="../images/handbag.jpg" />
        <span class="category-name">Handbags</span>
      </div>
    </div>  
    <div class="row">
      <div class="col-md-4 category-item">
        <img src="../images/footwear.jpg" />
        <span class="category-name">Footwear</span>
      </div>
      <div class="col-md-4 category-item">
        <img src="../images/kids.jpg" />
        <span class="category-name">kids</span>
      </div>
      <div class="col-md-4 category-item">
        <img src="../images/men.jpg" />
        <span class="category-name">mens</span>
      </div>
    </div>  
  </div>
</section>