<div class="flexslider product-show-slider">
  <ul class="slides">
    {{#each images}}
      <li data-thumb="{{large_url}}">
        <img src="{{large_url}}">
      </li>
    {{/each}}
  </ul>
</div>
