<article class='image-section slider'>
  <div id="image-slider" class="flexslider">
    <ul class="slides">
      {{#each images}}
        <li>
          <img src="{{small_url}}" alt="{{product.name}}"/>
        </li>  
      {{/each}}
    </ul>
  </div>  
  <div id="image-carousel" class="flexslider">
    <ul class="slides">
      {{#each images}}
        <li>
          <img src="{{large_url}}" alt="{{product.name}}"/>
        </li>
      {{/each}}  
    </ul>
  </div>
</article>