<div class="show_page">
  {{> header}}

  <section class="product-show-page">
    <div class="container">
      <div class="row">
        <div class="breadcrumb">
          <a href="#"> < Back To Kirtas & Kurties</a>
        </div>
        <div class="col-md-6">
          {{> show_left_content}}
        </div>

        <div class="col-md-6 show-page-desc">
          {{> show_right_content}}
        </div>
      </div>
    </div>
  </section>
  {{> recently_viewed}}
  {{> footer}}
</div>  
