<!-- Header Start -->
<div class="container">
  <header class="primary-header">
    {{> header_top}}
  </header>
</div>  
<div class="container-fluid secondary-header padding-0">
  <header>
    {{> header_bottom}}
  </header>
</div>  
<!-- Header Ends -->