<!-- Header Start -->
<div class="container">
  <header class="primary-header">
    {{> header_top}}
  </header>
</div>  
<div class="container-fluid">
  <header class="secondary-header">
    {{> header_bottom}}
  </header>
</div>  
<!-- Header Ends -->